/* Full-page */

body {
	background-color: #EBE0E0;
}

/* Header */

.header-name {
	font: 3em Quicksand, sans-serif;
	font-weight: 300;
}

.header-title {
	font: 1.25em Quicksand, sans-serif;
	font-weight: 400;
}


/* Projects section */

.projects-heading {
	font: 2em Quicksand, sans-serif;
	font-weight: 400;
}

.project-name {
	font: 2em Quicksand, sans-serif;
	font-weight: 700;
}

.project-url {
	font: .75em Inconsolata, sans-serif;
	color: #6B382E;
	word-wrap: break-word;
	text-decoration: none;
}

.project-url:hover {
	text-decoration: underline;
}