
/* Global tag styles */

h1 {
	font: 3em Quicksand, sans-serif;
	font-weight: 300;
}

h2 {
	font: 2em Quicksand, sans-serif;
	font-weight: 400;
}

h3 {
	font: 2em Quicksand, sans-serif;
	font-weight: 700;
	margin: 0;
}

hr {
	height: 3px;
	background-color: #c3c6c0;
}

/* Header classes */

.header {
	display: flex;
	align-items: center;
}

.header-title {
	font: 1.25em Quicksand, sans-serif;
	font-weight: 400;
}

/* Projects classes */

.project-padding {
	padding: 0 0 15px;
}

.project-url {
	font: .75em Inconsolata, sans-serif;
	color: #6B382E;
	word-wrap: break-word;
	text-decoration: none;
}

.project-url:hover {
	text-decoration: underline;
}
